.sidebar{
	width:19%;
}
.filterButton{
	border: 0px;
	border-radius: 0px;
	margin:none;
	background-color: transparent;
}
.filterButton:focus{
	border: 0px;
	border-radius: 0px;
	margin:none;
	background-color: transparent;
}